@tailwind base;
@tailwind components;
@tailwind utilities;

// extra
pre[class*='language-'],
:not(pre) > code[class*='language-'] {
  background: none !important;
  box-shadow: none !important;
}

code[class*='language-'],
pre[class*='language-'] {
  color: white !important;
  background: none;
  text-shadow: none !important;
  font-family: 'Roboto Mono', Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 12px;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  hyphens: none;
}

:not(pre) > code[class*='language-'] {
  border-radius: 0.3em;
  border: 0 !important;
}

// .token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #ffe27a !important;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted,
.token.function,
.token.class-name,
.literal-property,
.property {
  color: #ffffff !important;
}
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #ffe27a !important;
  background: none !important;
}

.token.string {
  color: #baafff !important;
}

.token.attr-value {
  color: #9cf6fc !important;
}
