.modal,
.modal-guts,
.modal-overlay {
  width: 100%;
  height: 100%;
}
.exit-intent-popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1001;
  background: rgba(33, 33, 33, 0.8);
  transform: translateY(60%) scale(0);
}
.exit-intent-popup.visible {
  transform: translateY(0) scale(1);
}
.modal {
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 999999999;
  max-width: 100%;
}
.modal * {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
.modal[open] {
  display: flex;
}
.modal-overlay.closed,
.modal.closed {
  display: none;
}
.modal-guts {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px 50px 20px 20px;
  overflow: auto;
}
.model-inner {
  background-color: #fff;
  border-radius: 0.5em;
  max-width: 600px;
  padding: 2em;
  margin: auto;
}
.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #000;
}
.modal-overlay {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
}
.freechat-popup-show {
  display: block;
}
.freechat-bottom {
  display: flex;
  align-items: center;
  position: relative;
}
.freechat-bottom-cta {
  margin: 0;
  position: absolute;
  background-color: #000;
  color: #fff;
  padding: 4px 12px;
  border-radius: 15px;
  font-size: 14px;
  font-family: Inter;
  font-weight: 400;
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.freechat-bottom-cta-left {
  right: 0;
  transform: translateX(100%);
}
.freechat-bottom-cta-right {
  left: 0;
  transform: translateX(-100%);
}
.freechat-bottom-cta-show {
  opacity: 1;
}
.freechat-bottom-cta-right.freechat-bottom-cta-show {
  transform: translateX(-120%);
}
.freechat-bottom-cta-left.freechat-bottom-cta-show {
  transform: translateX(120%);
}
